@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
    margin-top: 20px;
    max-height: none;
  }

  .table {
    table-layout: fixed; /* Fixed table layout for consistent column widths */
    margin-top: 15px;
    width: 125%; /* Full width to utilize available space */
    overflow-x: auto; /* Scrollable horizontally if needed */
  }

  .table-row,
  .table-cell {
    text-align: center; /* Center-align content for consistent alignment */
    padding: 6px;
    font-size: 13px; /* Consistent font size for uniformity */
  }

  .table-cell {
    min-width: 60px; /* Adjust min-width as needed for content */
  }

  .table-row.table-head {
    font-size: 14px; /* Slightly larger font for header */
  }

  .summary {
    flex-wrap: wrap;
    gap: 15px;
  }

  .summary-attributes {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    white-space: nowrap;
  }

  .value,
  h3 {
    font-size: 12px;
  }

  #amount,
  #total-title {
    font-size: 14px;
  }

  .add-delivery {
    width: 30px;
    height: 30px; /* Smaller height to maintain aspect ratio */
    right: 10px;
    top: 10px;
    border-radius: 50%; /* Rounded border to form a circle */
    font-size: 1rem; /* Adjust font size if text is inside */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #reset-btn {
    width: 150px; /* Smaller width */
    height: 40px; /* Smaller height */
    font-size: 12px; /* Smaller font size */
    padding: 8px; /* Adjust padding as needed */
    /* Other styling as required */
    margin-bottom: 50px;
  }

  .add-delivery-box {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
